<div class="row">
    <div class="col-md-10 col-md-offset-1">
<div class="jumbotron">
   <%= form_tag("/authenticate_employee", method: "get") do %>
      <%= label_tag(:code, "Enter the Code Recieved") %>
      <%= text_field_tag(:code) %>
      <%= submit_tag("Search") %>
    <% end %>

</div>
</div>
</div>