<h1>Details Available at below link </h1>


<p>
  <%= @greeting %>, 
</p>


<p>
  <strong>Employee ID:</strong>
  <%= @zoloid %>
</p>

<p>
  <strong>Employee Name:</strong>
  <%= @name %>
</p>

<p>
Link =  /new_employee_details/@id
</p>

 

