<!DOCTYPE html>
<html>
<head>
  <title>ZeloNewEmployee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


<script>
$(document).ready(function() {
  $( "#new_employee_details_dob" ).datepicker();
  
});

  
    
  </script>

</head>
<body>
<div class="container">

	<%= yield %>
</div>
</body>
</html>
